/* body styling */

html {
    font-size: 100%;
    overflow-y: scroll;
}

@media (min-width: 767px) {
    html {
        font-size: 112.5%;
    }
}

body {
    background-color: $theme-colour;
    line-height: $base-line-height;
}

.header-left,
.header,
.header-right,
.footer-left,
.footer,
.footer-right {
    background-color: $theme-colour-d;
}

.hidden {
    display: none !important;
}

/* content elements */

* {
    color: $font-colour;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
}

p:last-child {
    margin-bottom: 0;
}

hr {
    width: math.percentage(math.div(3, 4));
    height: 2px;
    border-width: 0;
    background-color: $stark-colour;
    margin-bottom: $magic-number;
}

img {
    max-width: 100%;
}

.main {
    text-align: justify4;
}

/* header and footer styling */

.header {
    * {
        color: $stark-colour;
    }
}

.logo {
    padding-left: 0.3rem;
}

.title {
    * {
        margin: 0;
    }
}

.footer {
    a {
        text-decoration: none;
    }

    * {
        margin: auto 0;
        color: $stark-colour;
    }
}

.social {
    font-size: $base-font-size * 2;
}

/* navigation bar styling */

.nav {
    a {
        padding: $magic-number-rem * 0.3 $magic-number-rem * 0.6;
        border-radius: 0.7rem;
        text-decoration: none;
        outline: 2px solid $stark-colour-l;
        box-shadow: inset 0 0 2px $box-shadow-colour;
        font-family: 'Nunito', sans-serif;
        // margin: 0;
        font-weight: 700;
        color: $stark-colour;
    }

    a:hover {
        background-color: $theme-colour-l;
    }

    .active {
        background-color: $theme-colour;
    }

    a:hover,
    .active {
        // outline: 3px solid $accent-colour-d;
        box-shadow: 0 0 5px $box-shadow-colour;
    }
}

/* table styling */

table {
    // @include box-border($magic-number);
    @include table-background(2.1);
    @include box-padding($magic-number * 0.3);
    width: 100%;
    table-layout: fixed;
    margin-bottom: $magic-number;
    justify-self: start;

    border-spacing: $magic-number * 0.4;

    th {
        color: $stark-colour;
        padding-bottom: $magic-number * 0.5;
        white-space: pre;
        overflow-x: hidden;
        // line-height: $base-line-height * 1.5;
    }

    td {
        vertical-align: top;
    }

    p {
        margin-top: 0;
    }
}

/* start styling */

.welcome-wrapper {
    padding-top: $magic-number;
    display: flex;
    flex: 0 1 auto;
    // gap: $magic-number;
    justify-content: space-between;
}

.welcome-box {
    @include box-padding($magic-number);
    @include box-background(3.1);

    display: block;
    border: solid 3px $accent-colour-d;
    border-radius: $magic-number;
    box-shadow: 2px 2px 5px $box-shadow-colour;
    text-align: initial;
    width: 30%;

    * {
        color: $stark-colour-l;
        margin: 0;
    }

    *:not(:last-child) {
        margin-bottom: $magic-number;
    }
}

@media (max-width: 900px) {
    .welcome-wrapper {
        flex-direction: column;
    }

    .welcome-box {
        width: 100%;
    }
    
    welcome-img {
        width: 100%;
    }
}
