/* main layout, centered grid */

.body-wrapper {
    width: 100%;
    min-height: 100vh;
    grid-template-columns: 1fr minmax($main-width-min, $main-width) 1fr;
    grid-template-rows: min-content 1fr min-content;
    display: grid;
}

.header {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

.main {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    margin-bottom: $magic-number;
}

.footer {
    grid-row: 3 / 3;
    grid-column: 2 / 2;
}

// .header,
// .main {
//     overflow-x: visible;
// }

.header-left,
.header-right,
.main-left,
.main-right,
.footer-left,
.footer-right {
    z-index: -1;
}

/* body header */

.header {
    // width: 100%;
    display: grid;
    grid-template-columns: 7rem 7rem 1fr;
    align-items: center;
}

.logo {
    grid-column: 1;
    grid-row: 1;
    font-size: 5rem;
}

.title {
    grid-column: 2;
    grid-row: 1;
}

.nav-toggle {
    grid-column: 3;
    grid-row: 1;
    justify-self: right;
}

.nav {
    grid-column: 3 / span 1;
    grid-row: 1;
    gap: $magic-number * 0.5;
    justify-self: right;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0 !important;
    }
}

/* landingpage 3 col grid */

.landingpage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'header header header';
    grid-auto-flow: dense;
    gap: $magic-number;
}


.landingpage .landingpage-header {
    grid-area: header;
    margin-bottom: 0;
}

.col-span-1 {
    grid-column: span 1;
}

.col-span-2 {
    grid-column: span 2;
}

.col-span-3 {
    grid-column: span 3;
}

.row-span-2 {
    grid-row: span 2;
}

.sidebar.left {
    grid-column: 1;
}

.content-small {
    grid-column: 2 / span 2;
}

@media (max-width: 767px) {
    .landingpage {
        grid-template-columns: 1fr;
        grid-template-areas: 'header';
    }
    
    .col-span-2,
    .col-span-3 {
        grid-column: span 1;
    }

    .sidebar {
        display: none;
    }

    .content-small {
        grid-column: 1 / span 3;
    }
}
