@use 'sass:math';
@use 'sass:color';
@import '../../node_modules/normalize.css/normalize';

@import 'variables';

@import 'blockquote';
@import 'code';
@import 'layout';
@import 'mobile-menu';

@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans&display=swap');

@import 'test';

/* body styling */

body {
    background-color: $theme-colour;
}

.header-left,
.header,
.header-right,
.footer-left,
.footer,
.footer-right {
    background-color: $theme-colour-d;
}

* {
    color: $font-color;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 100%;
    overflow-y: scroll;
}

body {
    line-height: $base-line-height;
}

p {
    font-size: $base-font-size;
    margin-bottom: $magic-number;
}

p:first-child {
    margin-top: $magic-number;
}

p:last-child {
    margin-bottom: 0;
}

@media (min-width: 767px) {
    html {
        font-size: 112.5%;
    }
}

.hidden {
    display: none !important;
}

hr {
    width: math.percentage(math.div(3, 4));
    height: 2px;
    border-width: 0;
    background-color: #000;
    margin-bottom: $magic-number;
}

/* header and footer styling */

.header {
    * {
        color: #000;
    }
}

.logo {
    padding-left: 0.3rem;
}

.title {
    * {
        margin: 0;
    }
}

.footer {
    color: #000;

    a {
        text-decoration: none;
    }

    * {
        margin: auto 0;
    }
}

.social {
    font-size: $base-font-size * 2;
}

/* navigation bar styling */

.nav {
    h4 {
        margin: 0;
    }

    a {
        padding: $magic-number-rem * 0.3 $magic-number-rem * 0.6;
        border-radius: 0.7rem;
        text-decoration: none;
    }

    a:hover {
        background-color: $theme-colour-l;
    }

    .active {
        background-color: $theme-colour;
    }

    a:hover,
    .active {
        outline: 2px solid #555;
        box-shadow: 1px 1px 3px #333;
    }
}

/* sidebar styling */

.sidebar {
    @include box-border($magic-number);
    @include box-padding($magic-number);
    @include box-background(2.7);

    place-self: start;
    margin-top: $magic-number-rem;
    font-size: $base-font-size;

    h2 {
        margin-top: 0;
    }

    * {
        color: #000;
    }
}

/* content styling */

.content-small {
    text-align: justify;
}

/* table styling */

table {
    @include box-border($magic-number);
    @include box-background(1.35);
    @include box-padding($magic-number * 0.3);
    width: 100%;
    table-layout: fixed;
    margin-bottom: $magic-number;
}

/* teknologi-sidans styling */

.tech-box {
    @include box-padding($magic-number);
    @include box-background(3.1);

    display: block;
    border: solid 3px $accent-colour-d;
    border-radius: $magic-number;
    box-shadow: 2px 2px 5px #333;

    * {
        color: #000;
        margin: 0;
    }

    *:not(:last-child) {
        margin-bottom: $magic-number;
    }
}
