/* Testregler för css */

.test1 {
    box-sizing: content-box;
    width: 600px;
    height: 100px;
    background-color: black;
}

.test2 {
    box-sizing: content-box;
    width: 100%;
    height: 100px;
    background-color: blue;
}

.test3 {
    box-sizing: border-box;
    width: 50vw;
    height: 100px;
    background-color: red;
}

.test4 {
    box-sizing: content-box;
    width: 100vw;
    height: 100px;
    background-color: green;
}